<h1>Add band</h1>
<form action="/bands/new" method="post">
  <label for="band-name">Band name:</label>
  <input id="band-name" name="band-name" type="text">
  <button type="submit">Add band</button>
</form>
<p><a href="/">Return home</a></p>
<p><a href="/bands">View bands</a></p>
