<h1>Add venue</h1>

<form action="/venues/new" method="post">
  <label for="venue-name">Venue name</label>
  <input id="venue-name" name="venue-name" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
